{% extends 'base.html'%}

<!-- Content block -->
{%block content%}
<div class="jumbotron text-center" style="background-color: rgb(34,34,34); color: #fff; padding: 100px 25px;">
  <h1>PERSONAL BLOG</h1>
  <div class="container" style="padding-bottom: 20px;">
   
  </div>
  








  <!-- Copyright -->
  <div class="text-center p-4" style="background-color:  rgb(34,34,34);">
    <p style="color:#fff;" >© 2022 Copyright
      <a class="text-white" style="color:#fff" href="https://github.com/Teri11">augustineteri157@gmail.com</a>
    </p>
   
  </div>
  <!-- Copyright -->
</footer>
  
</div>
<!-- End of .container -->
{%endblock%}