{% import 'macros.html' as macro %}
{% extends 'base.html'%}

<!-- Content block -->
{%block content%}
<div class="jumbotron text-center" style="background-color: rgb(34,34,34); color: #fff; padding: 100px 25px;">
  <h1>PERSONAL BLOG</h1>
  <div class="container" style="padding-bottom: 20px;">
   
  </div>
  

  <div class="container-fluid">
    <div class="banner">
      <h1>Welcome to Personal Blog Website</h1>
      
      <span class="subheading"><i class="fas fa-quote-left"></i> <em class="quote">{{quote.quote}}</em> <i
          class="fas fa-quote-right"></i></span>
      <h2>{{quote.author}}</h2>
      <form id="subscribeForm" class="form-inline ml-2" action="{{url_for('main.subscribe')}}" method="POST">
        <h3 class="subscribe">Subscribe Here</h3>
        <div class="md-form form-group">
          <input type="email" class="form-control" placeholder="Email Address..." name="subscriber" required>
        </div>
        <div class="md-form form-group">
          <button class="btn btn-success" id="subs">Subscribe</button>
        </div>
      </form>
    </div>
    
  </div>
</div>
<div class="row" id="blogsContainer">
  <h1 style="text-align:center" >Thread Blogs</h1>
 


  {% for blog in blogs %}
  <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 all-blogs">
    <div class="">
      <h4><a href="{{url_for('main.blog',id = blog.id)}}">{{blog.title | upper}}</a></h4>
      <h5>{{blog.description}}</h5>
      <p>Posted on :<small class="text-muted mr-2"> {{blog.time.strftime('%d-%m-%Y')}}</small> by <a
        href="user/{{blog.user.username}}">{{blog.user.username}}</a></p>
      <p> <a class="btn btn-success" href="{{url_for('main.blog',id = blog.id)}}">{{blog.comment.count()}} <i class="far fa-comments"  style='font-size:30px;'></i></a></p>
  
    </div>
  </div>
  
  {% endfor %}


   
  <!-- Copyright -->
  <div class="text-center p-4" style="background-color:  rgb(34,34,34);">
    <div class="container-fluid">
  <footer class="text-center text-white" style="background-color: rgb(34,34,34);">
    <!-- Grid container -->
    <div class="container pt-4">
      <!-- Section: Social media -->
      <section class="mb-4">
        <!-- Facebook -->
        <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="#!" role="button"
          data-mdb-ripple-color="dark"><i class="fab fa-facebook-f"></i></a>

        <!-- Twitter -->
        <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="#!" role="button"
          data-mdb-ripple-color="dark"><i class="fab fa-twitter"></i></a>

        <!-- Google -->
        <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="#!" role="button"
          data-mdb-ripple-color="dark"><i class="fab fa-google"></i></a>

        <!-- Instagram -->
        <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="#!" role="button"
          data-mdb-ripple-color="dark"><i class="fab fa-instagram"></i></a>

        <!-- Linkedin -->
        <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="#!" role="button"
          data-mdb-ripple-color="dark"><i class="fab fa-linkedin"></i></a>
        <!-- Github -->
        <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="https://github.com/Teri11" role="button"
          data-mdb-ripple-color="dark"><i class="fab fa-github"></i></a>
      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->

    <p style="color:#fff;" >© 2022 Copyright
      <a class="text-white" style="color:#fff" href="https://github.com/Teri11">augustineteri157@gmail.com</a>
    </p>
   
  </div>
  <!-- Copyright -->
</footer>
  
</div>
<!-- End of .container -->
{%endblock%}